.inputWrapper {
  align-items: center;
  display: flex;
  padding: 4px;
}

.settingCardWrapper {
  align-items: center;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.icon {
  font-size: 30px;
  padding: 4px;
}

.inputStyle {
  border-bottom: 1px #000 solid;
  margin: 4px 16px;
  padding: 4px;
}


.joinButton {
  background: rgb(97, 199, 123);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 10px;

  &:visited {
    color: #fff;
    text-decoration: none;
  }
}

.joinButtonIcon {
  font-size: 20px;
  margin: 4px;
}

.link {
  color: #000;
  text-decoration: none;
}

.buttonWrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
