.chatWrapper {
  background: rgb(106, 175, 207);
  min-height: 50vh;
  width: 90%;
}

.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.baseWrapper {
  border-radius: 20px;
  margin: 4px;
  padding: 4px 16px;
}

.sys {
  align-self: center;
  background: rgb(194, 193, 193);
}

.my {
  align-self: flex-end;
  background: rgb(82, 238, 82);
}

.other {
  align-self: flex-start;
  background: #fff;
}
